<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Contacts</span>
    <span class="example-spacer"></span>
    <mat-icon (click)="close()" class="example-icon">close</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>
<div class="row">
  <div class="col-12" *ngIf="!loading">
    <app-loading></app-loading>
  </div>
</div>
<div style="padding-left: 24px !important; padding-right: 24px !important; padding-top: 15px !important;" class="row contact"  *ngFor="let contact of Friends">
    <div class="col-3 img">
        <img [src]="contact.user.Image.located" alt="" id="contactImage">
    </div>
  <div class="col-9" id="detailsContact">
    <h5 id="contactName">{{contact.user.Info.username}}</h5>
<span style="font-size: 12px; color: grey;" id="lastSeen">{{contact.user.Info.registered | date:'dd/MM/yyyy à
  HH:mm'}}</span>
  </div>
</div>

