.contactsDisplay {
  height: 725px;
  background-color: white;
  border-right: 2px solid rgba(84, 111, 136, 0.2);
}

.messageDisplay {
  height: 725px;
  background-color: white;
}

.empty {
  margin-top: 15%;
}

img {
  max-width: 100%;
  height: auto;
}
