.myNav {
  width: 100% !important;
}

.material-icons {
  font-size: 32px;
}

.myBtn {
  margin-top: 375px !important;
  margin-right: 20px !important;
}

.btnAdd {
  margin-top: -15px;
  display: inline-block;
  height: 126px;
  width: 126px;
  border-radius: 50%;
}

.toolbar{
  background-color: #ffc107 !important;
}