.myNav {
  width: 100% !important;
}

.material-icons {
  font-size: 32px;
}

.myBtn {
  margin-top: 200px !important;
}

.btnAdd {
  margin-top: -15px;
  display: inline-block;
  height: 126px;
  width: 126px;
  border-radius: 50%;
}